@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:rebeccapurple"class="display-4"><strong>Welcome Our Library</strong></h1>
   <br />
   <br />

   <p><img src="/img/kutuphane.jpg" style="width:800px; height:500px;"/></p>
</div>
