@{
    ViewData["Title"] = "İletişim";
}

<div class="text-center">
    <br /><br />
    <h2 style="color:rebeccapurple">@ViewData["Title"]</h2>


    <br /><br />
    <h3></h3>
    <h3>Bornova İZMİR</h3>
    <br />
    <h3>E-posta Adresi:</h3>
    <h3><a href="mailto:senemurkmez163@gmail.com">senemurkmez163@gmail.com</a></h3>
</div>